<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}phar project{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ docroot|default('/phar/') }}css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="{{ docroot|default('/phar/') }}css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
        <link href="{{ docroot|default('/phar/') }}css/style.css" rel="stylesheet" />
    </head>
    <body>
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="{{ docroot|default('/phar/') }}">Phar project</a>
	          <div class="nav-collapse collapse">
	            <form class="form-search navbar-form pull-right">
					<div class="input-append">
					<input type="text" class="span2 search-query" placeholder="Search phar packages" data-provide="typeahead" data-source="['clue/test', 'composer', 'phinx']"/>
					<button type="submit" class="btn"><i class="icon-search"></i> </button>
					</div>
			    </form>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	
	    <div class="container">
	{% block content %}
       The content
     {% endblock %}
	      
	
	    
	    
	    <footer>
	      <hr />
          <ul class="inline pull-left">
            <li><a href="{{ url('homepage') }}"><i class="icon-home"></i> Home</a></li>
            <li><a href="{{ url('about') }}"><i class="icon-info-sign"></i> About</a></li>
            <li><a href="{{ url('stats') }}"><i class="icon-heart"></i> Stats</a></li>
            <li><a href="{{ url('api') }}"><i class="icon-cog"></i> Developers / API</a></li>
          </ul>
          <div class="pull-right">
            <p>2013 by <a href="">@clue</a></p>
          </div>
        </footer>
      </div> <!-- /container -->
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="{{ docroot|default('/phar/') }}js/bootstrap.min.js"></script>
    </body>
</html>
